
<form action='login'>
  <div class = "Container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Uername" name"username" required>
    <br>
    <label><b>Password</b></label>
    <input type="Password" placeholder="Enter Password" name+"psw" required>
    <br>
    <button type="Submit">Login</button>
    <input type="Checkbox" checked="Checked"> Remember me
    </div>

</form>
