
<%= @error %>
<form action='login' method ="post">
  <div class = "Container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label><b>Password</b></label>
    <input type="Password" placeholder="Enter Password" name="password" required>
    <br>
    <button type="Submit">Login</button>
    <input type="Checkbox" checked="Checked"> Remember me
    </div>

</form>
